#header img {
    height: 30px;
}

.btn-cursos:hover {
    background-color: #e40f56;
}

#header a {
    color: white;
}

#footer {
    background: linear-gradient(90deg, #ff105f, #ffad06);
}

#footer a {
    color: white;
}

#cover {
    max-height: 70vh;
    object-fit: cover;
    background-color: #dedede;
}

#user-jumbo {
    margin-bottom: 0;
}

#mid-bar {
    margin-bottom: 50px;
}

#user-info {
    margin-bottom: 50px;
}