#header img {
    height: 30px;
}

.btn-cursos:hover {
    background-color: #e40f56;
}

#header a {
    color: white;
}

#footer {
    background: linear-gradient(90deg, #ff105f, #ffad06);
}

#footer a {
    color: white;
}

#btn-ver {
    background-color: #ff105f;
    border-color: #ff105f;
    color: #fff;
}

#btn-ver:hover {
    border-color: #e40f56;
    background-color: #e40f56;
    color: black;
}

#card-h {
    background-color: #FFAC07;
    color: white;
}